name: Publish to NPM Packages

on:
  push:
    branches:
      - master
    paths: "package.json"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: https://registry.npmjs.org/
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install jq
        run: sudo apt-get install jq
      - name: Check if version changed
        id: version_changed
        run: |
          VERSION_OLD=$(git show ${{ github.event.before }}:package.json | jq -r .version)
          VERSION_NEW=$(jq -r .version package.json)
          if [ "$VERSION_OLD" != "$VERSION_NEW" ]; then
            echo "Version changed from $VERSION_OLD to $VERSION_NEW"
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "Version did not change"
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Publish to npm
        if: steps.version_changed.outputs.changed == 'true'
        run: |
          npm i
